/******************* header  ***************/
header{height:18vh;width:100%;background:#fff;
            padding: 0 5vw !important;box-sizing: border-box;  }
header h2{float: left;}
header h2 a{color: #076CE0; font-size: 2.5vw; line-height: 18vh;}
header h2 a span{color:#CCCCCC  }
header ul{height:18vh;float: right;}
header ul li{width: 10vw;float: left;}
header ul li a{display:block;width:98%;height: 100%; cursor:pointer;
                line-height: 18vh;font-size: 1.2vw;color:#333;
                text-align: center;transition:0.5s;
                background-image:url(img/blue.jpg);
                background-repeat: no-repeat ;
                background-position: 0 -25vh;
                background-size:100% 100%;
}
ul li a:hover {color: white; background-position:0 0;  }


/*联系我们*/
header ul .gk{position: relative;height:25vh;z-index: 50}
header ul .gk a,header ul .gk #contact{position:absolute;left: 0}
header ul .gk a{top: 0;height: 18vh;}
header ul .gk #contact{top:18vh;z-index: 50;
    display:none;height: 8vh;line-height: 10vh;width:100%;background:#076CE0;
    font-size: 1vw;color: #fff;
    -webkit-clip-path:polygon(0 20%,40% 20%,50% 0,60% 20%,100% 20%,100% 100%,0 100% ,0 0 );
}

ul li:nth-child(2):hover #contact{display: block;}


/******************* footer  ***************/
footer{width: 100%;
    background: url(img/msg1.jpg)no-repeat center;
    background-size: 100% 100%;
    padding-top: 3vh;box-sizing: border-box;
}
footer h1{
    color: #3083E9;
    width: 40vw;
    font-size: 2.8vw;
    height:20vh;
    line-height:20vh;
    margin:0 auto 5vh auto;
    border-bottom: 1px solid  #999989;
    text-align: center;
}
footer .foot_con{
    box-sizing: border-box;
    width: 80vw;
    height: 40vh;box-sizing: border-box;
    margin: 5vh auto 10vh auto;
    overflow: hidden;
}
footer .foot_con>div{
   height:100%;
    width:22%;
    float: left;
    margin-right: 4%;
}
footer .foot_con>div:nth-child(4n+4){margin-right:0}
footer .foot_con .fo h3{
    color: #fff;
    font-size:1.3vw ;
    font-weight:normal;
    margin-bottom:2vh;
}
footer .foot_con .fo p{
    color: #999989;
    font-size:0.9vw;
    line-height: 4.4vh;
}
footer .foot_con .fo p img{
    height:11vh;
    width: 30%;
}

/**************   copy   ***************/
footer .copy{
    padding-top: 10vh;
    box-sizing: border-box;
    color: #999; text-align: center;
    background: #1C1C1C;
    width: 100%;height:25vh;}
.copy>p,.copy>span{
    font-size: 1vw;
    color: #999;
}
.copy>span{
    transition: 0.3s;
}
.copy>span:hover{
    color: white;
}
.teachlist{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.teachlist img{
    width: 6.5vw;height: 12vh;
    margin-bottom: 2vh;
}
