

/***********************************************   学校概况   ********************************/
/**************   banner   ***************/
.banner{ width: 100%;height: 46vh;
        background-image: url(http://localhost:3000/images/1501326112876.jpg);
        background-repeat:no-repeat;
        background-position:center;
        background-size:135% 110%;
        margin-bottom: 10vh;  }

/*学校概况*/
#profile{height:80vh;  border: 2px solid black;}
.profile{height:80vh;width: 100%; }
.pro_head{height:20vh; text-align: center}
.pro_head p{color:#ccc; }
.pro_head h2{ font-size:2.5vw;}
.pro_foot{width:100%;height:70vh; padding:0 6vw;box-sizing: border-box;
            display: flex;align-items: center;
            justify-content: space-between;
            overflow: hidden;
}
.pro_foot_left{ width:34vw; height:50vh;color:#fff;
                   background:url(http://localhost:3000/images/1501327143714.jpg);
                   background-repeat:no-repeat ;
                   background-position:center;
                    background-size: 100% 100%;
                    float: left;
                    position: relative; }
.pro_foot_left p{ width:90%; text-align:left; font-size: 1.3vw;line-height: 5vh;height: 45%;
                    position: absolute;top:0;bottom:0;left:0 ;right:0;margin: auto;}
.pro_foot_left p span{display:block;width:100%;  text-align:right; }
.pro_foot_right{height:50vh; width:50vw;
                    overflow: hidden;
                    float: right;
                    box-sizing: border-box;}
.pro_foot_right li{width:22%; height:23vh; background:#3083E9;float: left;}
.pro_foot_right li{ margin-right:4%;text-align: center;}
.pro_foot_right li:nth-child(4n+4){ margin-right:0;}
.pro_foot_right li:nth-child(-n+4){margin-bottom:4vh;}
.pro_foot_right li img{display:block;margin:4vh auto;width: 3.5vw;height:7vh; }
.pro_foot_right li span{font-size: 1.2vw;color:#fff; }




/* 团结勤奋求实创新 */
.speak{width:100%;height: 50vh;
             background:url(http://localhost:3000/images/1501325709472.jpg);
                   background-repeat:no-repeat ;
                   background-position:center;
                    background-size: 100% 100%;
    position: relative; margin: 16vh auto 0 auto;}
.speak h1{margin: 0 auto;text-align: center;height: 10vh;line-height: 10vh;color: white;font-weight: normal;
            font-size: 3.5vw;
            position: absolute;top:0;left: 0;right:0;bottom:0;margin: auto;}

/* 现任领导 */
.leader{padding: 14vh 0;}
.leader .leaderList{width: 70vw;margin: 0 auto;  overflow: hidden;}
.leader .leaderList section{width:18%;height:42vh;float: left;}
.leader .leaderList section{margin-right: 8%;}
.leader .leaderList section:nth-child(4n+4){margin-right: 0;}
.leader .leaderList section h3{width: 100%;height: 66%;
                                background-repeat:no-repeat ;
                                   background-position:center;
                                    background-size: 100% 100%;
                                    transition:0.3s;}
 .leader .leaderList section h3:hover{ background-size: 130% 130%;}
.leader .leaderList section:nth-of-type(1) h3{ background-image:url(http://localhost:3000/images/1501325739883.jpg);   }
.leader .leaderList section:nth-of-type(2) h3{ background-image:url(http://localhost:3000/images/1501325751025.jpg);   }
.leader .leaderList section:nth-of-type(3) h3{ background-image:url(http://localhost:3000/images/1501325763353.jpg);   }
.leader .leaderList section:nth-of-type(4) h3{ background-image:url(http://localhost:3000/images/1501325774961.jpg);   }
.leader .leaderList section:nth-of-type(5) h3{ background-image:url(http://localhost:3000/images/1501325852649.jpg);   }
.leader .leaderList section:nth-of-type(6) h3{ background-image:url(http://localhost:3000/images/1501325868690.jpg);   }
.leader .leaderList section:nth-of-type(7) h3{ background-image:url(http://localhost:3000/images/1501325878035.jpg);   }
.leader .leaderList section:nth-of-type(8) h3{ background-image:url(http://localhost:3000/images/1501325891572.jpg);   }
.leader .leaderList section:nth-child(-n+4){margin-bottom: 5vh;}
.leader .leaderList section p{font-size: 1.2vw;line-height:7vh;text-align: center}

/* 学校相关数据 */
.datas{width: 100%;height: 110vh;
        background-image: url(http://localhost:3000/images/1501325721830.jpg);
       background-repeat:no-repeat ;
       background-position:center;
        background-size: 100% 100%;
        margin-bottom:8vh;
        position: relative;}
.datas .data{position: absolute;top: 0;right: 0;  color: #A9D0FB;
                height:100%;width: 43%;line-height: 4vh;font-size: 1vw;cursor: move;
                padding-top:14vh;box-sizing: border-box }
.datas .data h1,.datas .data span{color: #fff;}
.datas .data h1{font-size: 2.2vw;margin-bottom: 2vh;}
.datas .data>.descr{display:block;height: 5vh;border-bottom: 0.1vh solid #fff;width: 15vw;
                    margin-bottom: 2vh;}
.datas .data span:not(.descr){font-size:1.3vw;}


/* 校园环境 */
.school{width: 100%;margin: 10vh auto 18vh auto;}
.school img{-webkit-filter:saturate(1.2)}
.school .mySchool{width: 88vw;margin:0 auto;overflow: hidden }
.school .mySchool img{height: 47vh;box-sizing: border-box;display: block;float: left;
                            text-align:center;font-size: 1.3vw;line-height: 15vh;}
.school .sc_pic1{width: 50%}
.school .sc_pic2{width: 27%}
.school .sc_pic3{width: 23%}
.school .sc_pic4{width: 30%}
.school .sc_pic5{width: 30%}
.school .sc_pic6{width: 40%}




